.about-page

    font-family: 'Roboto'
    display: flex
    min-height: "calc(100vh - %s - %s)" % ($header-height $footer-height)
    padding: 10px

    & a
        color:royalblue

    &__container
        padding-top 80px
        margin: 0 auto
        min-height: 300px
        +tablet()
            padding: 5px
