*
    box-sizing border-box

//webfont('TUI', 'hinted-TUITypeCyrillicLight-Bold', true, 500, 'normal')

html
    font-size 10px

.hidden
    display none !important

.clearfix
    &:before,
    &:after
        content ""
        display table

    &:after
        clear both

.AppContainer
    font-family sans-serif !important
    color $x-dark-blue
    background-color $white
    font-size $font-size-base
    font-weight 300
    position relative
    overflow-x hidden
    &-content
        min-height 500px

