.securities-list
    display: inline-flex
    flex-direction: column
    margin-top: 20px
    //border: 1px solid #78799e
    padding: 5px 0px

    &_item
        padding: 0px 5px 2px 5px
        border-bottom: 1px solid #284242
        
        //&:last-child
        //    border-bottom: 0px none
