.security-desc
    &_container
        margin-top: 20px
        display: table
        border: 1px solid #78799E
        padding: 0px 10px

    &_name
        font-size: 16px

    &_btn
        color gray
        padding 5px
        display: inline-block
        cursor pointer
    
    &_list
        font-size: 14px
        padding 7px
        display: inline-flex
        flex-direction: column
        
        &.collapsed
            display none

    &_row
        padding: 3px 0px
        display inline-flex

    &_cell
        &__name
            width 170px

        &__value
            padding-left 10px