.security-desc

    &_name
        font-size: 14px
        flex-grow: 0

    &_btn
        //color: #808080
        font-size: 13px
        display: inline-block
        cursor: pointer
        background-color: #808080
        border-radius: 50%
        width: 15px
        height: 15px
        text-align: center
        margin-left: 7px
        box-shadow: none
        flex-shrink: 0
        
        &.collapsed
            background-color: #484848
            box-shadow: inset -1px -1px 3px 0px rgba(0,0,0,0.2)
    
    &_list
        font-size: 12px
        padding 5px
        background-color: $back-color-2
        display: inline-flex
        flex-direction: column
        position: absolute
        top: 5px
        z-index: 10000
        left: -7px
        border: 1px solid #78799e
        box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.91)
        min-width: 350px
        
        &.collapsed
            display none

    &_row
        padding: 3px 0px
        display inline-flex

    &_cell
        &__name
            width 170px
            flex-shrink: 0

        &__value
            padding-left 10px

    &_tooltip_container
        position relative

