.indicator-ctor
    display inline-flex
    padding: 2px 10px
    align-items: center
    //border-bottom: 1px solid #284242
    margin-left: 10px
    flex-wrap: wrap;
    border-left: 1px solid #284242;
    
    +tablet()
        margin-left: 0px
        padding: 2px 0px
        border: 0px

    &__label
        padding 0px 5px 0px 15px
        +tablet()
            flex-basis: 50%
            padding-left: 0px

        &:first-child
            padding-left 0px

    &__type
        width 100px

    &__window
        width 60px

    &__btn
        background:black
        height: 23px
        width: 23px
        text-align: center
        cursor: pointer
        margin-left: 15px
