phoneSmall()
    @media (max-width: 320px)
        {block}

tablet()
    @media (max-width: 750px)
        {block}

tabletHigh()
    @media (max-width: 992px)
        {block}

desktop()
    @media (max-width: 1200px)
        {block}