@import 'mixins.styl'
@import 'mediaQueries.styl'

$white = #fff
$blue = #73ccf2//#70cbf4
$darken-blue = #41baf0
$x-dark-blue = #0c2c5c
$dark-blue = #00a6d5
$light-blue = #b7e5f9
$light-blue-hover = #b9e5f8
$pale-blue = #dcf2fb
$green = #abd52b
$gray = #b9c5d6
$light-yellow = #fff79a
$yellow = #ffcc00
$light-gray = #6d82a1
$lighten-gray = #a9acb9
$x-light-gray = #e2ecf3
$dark = #3d4047

$blueMobile = #2c64b7
$dateMobileColor = #8fb1e4;
$filtersMobileBg = #5680bf;
$mobileDarkBlue = #082a5e;

$font-size-small = 1.4rem
$font-size-base = 1.7rem
$font-size-medium = 1.8rem
$font-size-large = 2rem
$font-size-x-large = 2.6rem
$font-size-xx-large = 3.6rem;

$input-height = 40px
$member-input-height = 60px

