@import 'mixins.styl'
@import 'mediaQueries.styl'

$back-light = #f0f0ee
$back-dark = #0c2c5c
$back-color-2 = #292B39 // #1C2234
$back-darker = #010103
$back-dark-gray = #3d4047

$dark-color = #0c2c5c
$darker-color = #140C5C
$light-color = #fff
$light-blue = #7292C2

$color1 = #3F5F8F
$color2 = #8D6D3D
$color3 = #C0A070
$color4 = #0C5C14
$color5 = #0C545C
$color6 = #0C5C3C
$color7 = #2C5C0C
$color8 = #5C140C
$color9 = #545C0C
$color10 = #5C3C0C
$color11 = #99C1FF
$color12 = #F2C179
$color-text = #5E6173 //#5F8A96

//palette 1
$text-color-2 = #A1A1D1 //#11aadd
$color_new2 = #1166bb
$color_new3 = #99aabb
$color_new4 = #5599aa
$color_new5 = #225566
$back_color_3 = #52526B
$color_new6 = #55ccff
$color_new7 = #ddddff
$color_new8 = #4444bb
$color_new9 = #aaaaff
$color_new10 = #222288
$color_new11 = #7777ee

//palette 2
$color2_new1 = #30A9E6
$color2_new2 = #A6B3F2
$color2_new3 = #3648BA
$color2_new4 = #1C1F78
$color2_new5 = #060613



$font-size-small = 1.4rem
$font-size-base = 1.7rem
$font-size-medium = 1.8rem
$font-size-large = 2rem
$font-size-x-large = 2.6rem
$font-size-xx-large = 3.6rem;

$input-height = 40px
$member-input-height = 60px
$header-height = 15rem
$nav-height = 4.8rem
$footer-height = 6rem

