.footer
    background $back-darker
    color $color2
    display: inline-flex
    align-items: center
    width: 100%
    height $footer-height
    +tablet()
        $footer-height-mobile

    &_item
        padding 10px 20px

        a
            color $color2

        &_fixed_250_width
            min-width: 250px
        &_fixed_90_width
            width: 90px

        &--white-color
            color white
