.footer
    background $back-darker
    color $color2
    display: inline-flex
    align-items: center
    width: 100%
    height $footer-height

    &_item
        padding 20px

        a
            color $color2
