.stock-analysis

    padding: 20px

    .stock-id-input
        padding-top:20px

    .btn
        min-width:100px
        height $input-height
        cursor pointer
        background: $dark
        color: white
        display inline-block
        padding: 10px

        &:hover
            background: $dark-blue