.stock-analysis

    padding: 20px

    .stock-description
        &_container
            display: inline-flex
            flex-direction: column
            min-width:500px

        &_item        
            font-size: 12px
            display: inline-flex

        &_cell
            font-size: 12px
            min-width: 25%

    .stock-id-input
        padding-top:20px

        &_input
            border: 1px solid gray

    .btn
        min-width:100px
        height $input-height
        cursor pointer
        background: $dark
        color: white
        display inline-block
        padding: 10px

        &:hover
            background: $dark-blue
