doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible', content='IE=edge, chrome=1')
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')

        each cssFile in htmlWebpackPlugin.files.css
            link(
                href=cssFile,
                rel="stylesheet"
            )
    body
        #app
        each jsFile in htmlWebpackPlugin.files.js
            script(
                src=jsFile
            )
